* {
    font-family: 'Roboto', sans-serif;
    border-style: none;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #F9FAF8;

}
body {
    margin: 0;
}
a:hover
{
    text-decoration: underline;
}

li {
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    align-items: flex-start;
    justify-content: space-between;

}

#headerlinks {
    color: #e5e7eb;
    font-size: 18px;
    align-self: center;
    font-weight: 300;
}

#headerlinks > ul {
    display: flex;
    gap: 30px;
    margin: 0px;
}
#headerlinks > li {
    flex: 0 1 0;
}
.tophalf
{
    background: #1f2937;
    height: 550px;
    width: 100ww;
    height: 100wh;
}

.pinz {
    border-radius: 12px;
    background-color: #3882f6;
    padding: 5px 30px;
    color: white;
    font-weight: 500;
    border: none;
}

.mainimg {
    width: 300px;
    height: auto;
}

.mainbody {
display: flex;
align-items: center;
gap: 50px;
justify-content: center;
margin-top: 100px;
}
.maintext {
    flex-basis: 0;
    gap: 20;
   justify-content: center;
   align-items: center;
}
.maintext > * {
    margin-bottom: 10px;
}
.herotext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.subhero {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}