* {
    font-family: 'Roboto', sans-serif;
    border-style: none;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #F9FAF8;

}
body {
    margin: 0;
}
a:hover
{
    text-decoration: underline;
}

li {
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    align-items: flex-start;
    justify-content: space-evenly;

}

#headerlinks {
    color: #e5e7eb;
    font-size: 18px;
    align-self: center;
    font-weight: 300;
}

#headerlinks > ul {
    display: flex;
    gap: 30px;
    margin: 0px;
}
#headerlinks > li {
    flex: 0 1 0;
}
.tophalf
{
    background: #1f2937;
    height: 550px;
    width: 100ww;
    height: 100wh;
}

.pinz {
    border-radius: 12px;
    background-color: #3882f6;
    padding: 5px 30px;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 20px;
}

.mainimg {
    width: 300px;
    height: auto;
    margin-left: 150px;
}

.mainbody {
display: flex;
align-items: center;
gap: 50px;
justify-content: center;
margin-top: 100px;
}
.maintext {
    flex-basis: 0;
    gap: 20;
   justify-content: center;
   align-items: center;
}
.maintext > * {
    margin-bottom: 10px;
}
.herotext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 400px;
}
.subhero {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.secondimg {
    display: flex;
    justify-content: space-evenly;
}

.imgcaption {
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 10px;
}

.secondtitle {
    margin: 50px auto;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.imgcaption > img {
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 25px;
}
.quotesection {
    background: #e5e7eb;
}
.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    padding: 100px 150px 30px 150px
}
.author {
    text-align: end;
    padding: 0 30px;
    font-weight: bold;
    font-size: 36px;
}
.endcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.endbox {
    display: flex;
    background: #3882f6;
    justify-content: space-around;
    margin: 200px 150px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.endtitle , .endbody {
    color: #e5e7eb;
}

.endtitle {
    font-weight: bold;
    font-size: 20px;
}

.endbody {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}
.endbox > button {
    background: #3882f6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;

}
.footer{
    display: flex;
    width: 100vw;
    height: 100px;
    background: #1f2937;
    justify-content: center;
    align-items: center;
}
.footertext{
    color: #F9FAF8;
    font-weight: 300;
    font-size: 20px;
}